<html>
<head>
    <title>My Simple Node.js app</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
        <a href="/faq">FAQ</a>
    </header>
    
        {{{body}}}
    
    <footer>
        (c) 2018
    </footer>
</body>
</html>
