<html>
<head>
    <title>My Simple Node.js app</title>
    <link rel="stylesheet" href="app.css">
    <script type="application/javascript" src="index.js"></script>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
        <a href="/faq">FAQ</a>
    </header>
    
        {{{body}}}
    
    <footer>
        (c) 2018
    </footer>
</body>
</html>
